.Header {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header .Logo {
    color: #000;
    text-decoration: none;
}

.Header .Logo h1 {
    margin: 0;
    font-family: OpenSansLight;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.Header nav a {
    color: #000;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    line-height: 18px;
}

.Header nav a.active {
    border-bottom: 1px solid black;
}

.Header nav a:first-of-type {
    margin-left: 0;
}

.Header nav a.Menu {
    display: none;
}